.minExerciseById {

    background-color: transparent;
    border: 1px solid greenyellow;
    padding: 10px 20px;
    color: white;
    width: 100%;
    min-height: 80px;
    position: relative;
    text-align: center;
    transition: 0.3s;


    .name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {}

    .hoverButton {
        display: block;
        width: 80%;
        height: 100%;
        border-style: none;
        background-color: rgba(0, 128, 0, 0.2);

        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
    }

    .hoverEl {

        background-color: purple;
        color: white;
        border: 1px solid black;
        opacity: 0.9;

        .nameHover {
            padding: 20px;

        }

        .desc {
            padding: 20px;
        }

        .imageMin {
            display: block;
            width: 90%;
            margin: 0 auto;
            background-color: pink;
            height: 200px;
        }
    }


}