.minExerciseById {

    background-color: transparent;
    border: 1px solid greenyellow;
    padding: 15px 20px;
    color: white;
    width: 100%;
    min-height: 100px;
    position: relative;
    text-align: center;
    transition: 0.3s;
    font-size: 0.9em;


    .name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {}

    .hoverButton {
        display: block;
        width: 80%;
        height: 100%;
        border-style: none;
        background-color: rgba(0, 128, 0, 0.2);

        color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
    }

    .hoverEl {

        background-color: rgb(99, 76, 99);
        color: white;
        border: 1px solid black;
        opacity: 0.9;
        padding: 10px;


        .photo {
            width: 100%;
            display: flex;
            background-color: black;

            .imageMin {
                display: block;
                width: 50%;
                margin: 0 auto;
                background-color: pink;
                height: 300px;
            }
        }

        .nameHover {
            padding: 20px;

        }

        .desc {
            padding: 20px;
        }


    }


}