.generator {
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;



    form {
        min-width: 300px;
        width: 50%;
        margin: 50px auto;

        padding: 30px;

        label {
            display: block;
            margin-top: 20px;
            width: 80%;

            span {
                text-align: center;
                color: white;
                display: block;
                padding-bottom: 10px;
            }
        }

        .btn {
            margin-top: 20px;
        }
    }

    .info {
        min-width: 150px;
        width: 30%;
        font-size: 1.5em;
        color: white;
        margin: 50px auto;

        ul {
            li {
                padding: 20px;
            }
        }
    }
}