@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import "../../variables";

.navbar {


    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        overflow: hidden;
        background-color: $sidebarNavbar;

        button.btn {
            margin-right: 10vw;
            font-size: 1rem;
        }

        li {
            margin: 0 20px;

            h1 {
                text-align: center;

                a {
                    font-size: 3rem;

                }
            }

            &.logo {
                margin: 0;
            }

            &.name {
                flex-grow: 1;

                font-size: 1.5rem;
                letter-spacing: 2px;
                color: $borderEffect;
                font-family: 'Black Ops One', cursive;


            }

            &.signup {
                margin-right: 10vw;
            }

            &.displayName {
                color: white;
                padding: 0;
                margin-right: 5vw;
                font-size: 1.0rem;
                font-family: 'Sedgwick Ave Display', cursive;

            }

            &.icon {
                margin: 0;
            }


            img {
                width: 150px;
                height: 80%;
                display: block;


            }



        }
    }


}