.planPreview {
    h1 {
        margin-top: 20px;
        text-align: center;
        color: greenyellow;
    }

    .days {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        .day {
            width: 45%;
            border: 1px solid black;

            margin-top: 20px;
            padding: 20px;
            box-shadow:
                0 0 5px rgba(0, 0, 0, 0.2),
                0 0 10px rgba(0, 0, 0, 0.2),
                0 0 20px rgba(0, 0, 0, 0.2),
                0 0 40px rgba(0, 0, 0, 0.2);

            p {
                text-align: center;
                color: chocolate;
                letter-spacing: 2px;
                font-weight: bold;
                text-transform: uppercase;
            }

            ul {
                margin: 0 auto;
                text-align: center;

                li {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding-top: 20px;

                    a {
                        display: block;
                        width: 30%;
                        padding: 10px;
                        border: 1px solid greenyellow;
                        color: #aaa;
                        box-shadow:
                            0 0 5px greenyellow,
                            0 0 10px greenyellow,
                            0 0 20px greenyellow,
                            0 0 40px greenyellow;
                        transition: 0.3s;

                        &:hover {
                            color: white;
                            font-weight: bold;
                            box-shadow: none;
                            border-color: transparent;

                        }
                    }

                    p {
                        width: 30%;
                        font-size: 0.7em;

                        span {
                            font-weight: bold;
                            color: white;
                            font-size: 1.4em;
                        }
                    }

                }
            }
        }
    }
}