$base-color: #c6538c;
$main-background: #321E1E;
$sidebarNavbar: #4E3636;
$secondary-color: #116D6E;
$borderEffect: #CD1818;


$xs: 360px;
$s: 414px;
$m: 800px;
$l: 1200px;
$xl: 1536px;
$xxl: 1920px;
$xxxl: 2560px;