@import 'variables';

.app {
    display: flex;

    background-color: $main-background;
    min-height: 100vh;

    .main {
        flex-grow: 1;
        position: relative;
        max-width: 100%;
        min-height: 100vh;
    }

    .error {
        color: red;
        font-weight: bold;
        font-style: italic;
        font-size: 16px;
        padding: 20px;

    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .hamburger {

        position: fixed;
        top: 140px;
        transform: translateY(-110%);
        left: 5%;
        color: white;
        font-size: 2rem;
        z-index: 3;
        display: none;

        &.fa-arrow-up {
            top: 320px
        }

        @media only screen and (max-width: $m) {
            display: block;
        }
    }







}