.app {
    background-color: #321E1E;
    height: 100vh;

    .error {
        color: red;
        font-weight: bold;
        font-style: italic;
        font-size: 16px;
        padding: 20px;

    }
}