$base-color: #c6538c;

.app {
    display: flex;

    background-color: #321E1E;
    min-height: 100vh;

    .main {
        flex-grow: 1;

    }

    .error {
        color: red;
        font-weight: bold;
        font-style: italic;
        font-size: 16px;
        padding: 20px;

    }
}